node_modules/
dist/
node_modules/.package-lock.json
pvf-parser-ts-0.0.1.vsix
media/webview/*.js
media/webview/*.js.map
media/webview/reactDemo.js
media/webview/reactDemo.js.map
pvfUtility/App.config
pvfUtility/App.ico
pvfUtility/App2.ico
pvfUtility/MainForm.cs
pvfUtility/MainForm.Designer.cs
pvfUtility/MainForm.resx
pvfUtility/MainPresenter.cs
pvfUtility/Program.cs
pvfUtility/pvfUtility.csproj
pvfUtility/README.txt
pvfUtility/.vs/pvfUtility.csproj.dtbcache.json
pvfUtility/Action/AppCore.cs
pvfUtility/Action/Batch/BatchCmd.cs
pvfUtility/Action/Batch/BatchMode.cs
pvfUtility/Action/Batch/BatchPresenter.cs
pvfUtility/Action/Batch/BatchTaskDialog.cs
pvfUtility/Action/Batch/BatchTaskDialog.Designer.cs
pvfUtility/Action/Batch/BatchTaskDialog.resx
pvfUtility/Action/Extract/ExtractDialog.cs
pvfUtility/Action/Extract/ExtractDialog.Designer.cs
pvfUtility/Action/Extract/ExtractDialog.resx
pvfUtility/Action/Extract/Extractor.cs
pvfUtility/Action/Extract/ExtractSetting.cs
pvfUtility/Action/Import/ImportDialog.cs
pvfUtility/Action/Import/ImportDialog.Designer.cs
pvfUtility/Action/Import/ImportDialog.resx
pvfUtility/Action/Import/Importer.cs
pvfUtility/Action/Import/ImportSetting.cs
pvfUtility/Action/Search/SearchDialog.cs
pvfUtility/Action/Search/SearchDialog.Designer.cs
pvfUtility/Action/Search/SearchDialog.resx
pvfUtility/Action/Search/SearchMethods.cs
pvfUtility/Action/Search/SearchPresenter.cs
pvfUtility/Action/Search/SearchSetting.cs
pvfUtility/Dialog/About.cs
pvfUtility/Dialog/About.Designer.cs
pvfUtility/Dialog/About.resx
pvfUtility/Dialog/DetailInfoDialog.cs
pvfUtility/Dialog/DetailInfoDialog.Designer.cs
pvfUtility/Dialog/DetailInfoDialog.resx
pvfUtility/Dialog/DialogBase.cs
pvfUtility/Dialog/DialogBase.designer.cs
pvfUtility/Dialog/DialogBase.resx
pvfUtility/Dialog/DialogButton.cs
pvfUtility/Dialog/FileExistDialog.cs
pvfUtility/Dialog/FileExistDialog.Designer.cs
pvfUtility/Dialog/FileExistDialog.resx
pvfUtility/Dialog/FileProperties.cs
pvfUtility/Dialog/FileProperties.Designer.cs
pvfUtility/Dialog/FileProperties.resx
pvfUtility/Dialog/GoToFileDialog.cs
pvfUtility/Dialog/GoToFileDialog.Designer.cs
pvfUtility/Dialog/GoToFileDialog.resx
pvfUtility/Dialog/InputBox.cs
pvfUtility/Dialog/InputBox.Designer.cs
pvfUtility/Dialog/InputBox.resx
pvfUtility/Dialog/OptionForm.cs
pvfUtility/Dialog/OptionForm.Designer.cs
pvfUtility/Dialog/OptionForm.resx
pvfUtility/Dialog/PvfHeaderEditorDialog.cs
pvfUtility/Dialog/PvfHeaderEditorDialog.Designer.cs
pvfUtility/Dialog/PvfHeaderEditorDialog.resx
pvfUtility/Dialog/SelectFolderDialog.cs
pvfUtility/Dialog/SelectFolderDialog.Designer.cs
pvfUtility/Dialog/SelectFolderDialog.resx
pvfUtility/Dialog/WelcomeDialog.cs
pvfUtility/Dialog/WelcomeDialog.Designer.cs
pvfUtility/Dialog/WelcomeDialog.resx
pvfUtility/Dock/CollectionExplorer/CollectionExplorerDock.cs
pvfUtility/Dock/CollectionExplorer/CollectionExplorerDock.Designer.cs
pvfUtility/Dock/CollectionExplorer/CollectionExplorerDock.resx
pvfUtility/Dock/CollectionExplorer/CollectionExplorerPresenter.cs
pvfUtility/Dock/ErrorList/ErrorListDockView.cs
pvfUtility/Dock/ErrorList/ErrorListDockView.Designer.cs
pvfUtility/Dock/ErrorList/ErrorListDockView.resx
pvfUtility/Dock/ErrorList/ErrorListPresenter.cs
pvfUtility/Dock/FileExplorer/FileExplorerDock.cs
pvfUtility/Dock/FileExplorer/FileExplorerDock.Designer.cs
pvfUtility/Dock/FileExplorer/FileExplorerDock.resx
pvfUtility/Dock/FileExplorer/FileExplorerPresenter.cs
pvfUtility/Dock/FileExplorer/Bookmark/BookmarkManager.cs
pvfUtility/Dock/FileExplorer/Bookmark/BookmarkManager.Designer.cs
pvfUtility/Dock/FileExplorer/Bookmark/BookmarkManager.resx
pvfUtility/Dock/FileExplorer/Bookmark/BookmarkTreeView.cs
pvfUtility/Dock/FileExplorer/Bookmark/BookmarkTreeView.resx
pvfUtility/Dock/FileExplorer/Bookmark/NewBookmarkDialog.cs
pvfUtility/Dock/FileExplorer/Bookmark/NewBookmarkDialog.Designer.cs
pvfUtility/Dock/FileExplorer/Bookmark/NewBookmarkDialog.resx
pvfUtility/Dock/Output/OutputDockView.cs
pvfUtility/Dock/Output/OutputDockView.Designer.cs
pvfUtility/Dock/Output/OutputDockView.resx
pvfUtility/Dock/Output/OutputPresenter.cs
pvfUtility/Document/HexEditorFrom.cs
pvfUtility/Document/HexEditorFrom.Designer.cs
pvfUtility/Document/HexEditorFrom.resx
pvfUtility/Document/PackComparer.cs
pvfUtility/Document/PackComparer.Designer.cs
pvfUtility/Document/PackComparer.resx
pvfUtility/Document/StartPage.cs
pvfUtility/Document/StartPage.Designer.cs
pvfUtility/Document/StartPage.resx
pvfUtility/Document/TextEditor/PvfScriptLexer.cs
pvfUtility/Document/TextEditor/PvfScriptLexerFast.cs
pvfUtility/Document/TextEditor/TextEditorPresenter.cs
pvfUtility/Document/TextEditor/TextEditorView.cs
pvfUtility/Document/TextEditor/TextEditorView.Designer.cs
pvfUtility/Document/TextEditor/TextEditorView.resx
pvfUtility/Helper/DataHelper.cs
pvfUtility/Helper/HttpHelper.cs
pvfUtility/Helper/PathsHelper.cs
pvfUtility/Helper/PvfAlgorithmHelper.cs
pvfUtility/Helper/TreeFileHelper.cs
pvfUtility/Helper/Native/ChineseHelper.cs
pvfUtility/Interface/IMainPresenter.cs
pvfUtility/Interface/Presenter/IEditorPresenter.cs
pvfUtility/Interface/View/IEditor.cs
pvfUtility/Model/Config.cs
pvfUtility/Model/ErrorListItem.cs
pvfUtility/Model/FileCollectionData.cs
pvfUtility/Model/TreeFileModel.cs
pvfUtility/Model/PvfOperation/Enum.cs
pvfUtility/Model/PvfOperation/ListFileTable.cs
pvfUtility/Model/PvfOperation/PvfFile.cs
pvfUtility/Model/PvfOperation/PvfPack.Base.cs
pvfUtility/Model/PvfOperation/PvfPack.Core.cs
pvfUtility/Model/PvfOperation/PvfPack.FileOperation.cs
pvfUtility/Model/PvfOperation/PvfPack.ScriptFileUtility.cs
pvfUtility/Model/PvfOperation/Stringtable.cs
pvfUtility/Model/PvfOperation/StringView.cs
pvfUtility/Model/PvfOperation/Encoder/BinaryAniCompiler.cs
pvfUtility/Model/PvfOperation/Encoder/ScriptFileCompiler.cs
pvfUtility/Model/PvfOperation/Praser/PraserInfoProvider.cs
pvfUtility/Model/PvfOperation/Praser/ScriptFilePraser.cs
pvfUtility/Model/PvfOperation/Praser/ScriptFileStruct.cs
pvfUtility/Model/TreeModel/FileCollectionTreeViewModel.cs
pvfUtility/Model/TreeModel/FileTreeViewModel.cs
pvfUtility/Model/TreeModel/FileTreeViewNode.cs
pvfUtility/Model/TreeModel/FolderTreeModel.cs
pvfUtility/NpkOperation/NpkPraser.cs
pvfUtility/Properties/app.manifest
pvfUtility/Properties/AssemblyInfo.cs
pvfUtility/Properties/lang.resx
pvfUtility/Properties/lang1.Designer.cs
pvfUtility/Properties/Resources.Designer.cs
pvfUtility/Properties/Resources.resx
pvfUtility/Resources/Backward_16x.png
pvfUtility/Resources/BinaryFile_16x.png
pvfUtility/Resources/ClearCollection_16x.png
pvfUtility/Resources/CloseSolution_16x.png
pvfUtility/Resources/Code_16x.png
pvfUtility/Resources/CodeDefinitionWindow_16x.png
pvfUtility/Resources/CollapseGroup_16x.png
pvfUtility/Resources/CompareFolder_16x.png
pvfUtility/Resources/Copy_16x.png
pvfUtility/Resources/Cut_16x.png
pvfUtility/Resources/DeleteFolder_16x.png
pvfUtility/Resources/DeleteKPI_16x.png
pvfUtility/Resources/Document_16x.png
pvfUtility/Resources/Document_32x.png
pvfUtility/Resources/DownloadFile_16x.png
pvfUtility/Resources/ExportData_16x.png
pvfUtility/Resources/FindinFiles_16x.png
pvfUtility/Resources/FindNext_16x.png
pvfUtility/Resources/FindPrevious_16x.png
pvfUtility/Resources/FindResults_16x.png
pvfUtility/Resources/FindSymbol_16x.png
pvfUtility/Resources/Folder_16x.png
pvfUtility/Resources/Folder_32x.png
pvfUtility/Resources/Folder_grey_16x.png
pvfUtility/Resources/Forward_16x.png
pvfUtility/Resources/ImportFile_16x.png
pvfUtility/Resources/ImportFilter_16x.png
pvfUtility/Resources/JSScript_16x.png
pvfUtility/Resources/LeftColumnOfThreeColumns_16x.png
pvfUtility/Resources/OpenfileDialog_16x.png
pvfUtility/Resources/OpenFolder_16x.png
pvfUtility/Resources/OpenFolder_32x.png
pvfUtility/Resources/Paste_16x.png
pvfUtility/Resources/Refresh_16x.png
pvfUtility/Resources/RightColumnOfThreeColumns_16x.png
pvfUtility/Resources/Run_16x.png
pvfUtility/Resources/RunChecked_16x.png
pvfUtility/Resources/Save_16x.png
pvfUtility/Resources/SaveAs_16x.png
pvfUtility/Resources/SaveClose_16x.png
pvfUtility/Resources/SaveFileDialogControl_16x.png
pvfUtility/Resources/Script_16x.png
pvfUtility/Resources/Search_16x.png
pvfUtility/Resources/SearchContract_16x.png
pvfUtility/Resources/SearchMember_16x.png
pvfUtility/Resources/SelectAll_16x.png
pvfUtility/Resources/Settings_16x.png
pvfUtility/Resources/StartupProject_16x.png
pvfUtility/Resources/Upload_16x.png
pvfUtility/Service/DialogService.cs
pvfUtility/Service/FileNameCommentService.cs
pvfUtility/Service/HttpRestServerService.cs
pvfUtility/Service/Logger.cs
pvfUtility/Service/NavigationServices.cs
pvfUtility/Service/PackService.cs
pvfUtility/Services/PackService.cs
pvfUtility/Tool/CodeSearcher.cs
pvfUtility/Tool/CodeSearcher.Designer.cs
pvfUtility/Tool/CodeSearcher.resx
pvfUtility/Tool/NameSearcher.cs
pvfUtility/Tool/NameSearcher.designer.cs
pvfUtility/Tool/NameSearcher.resx
pvfUtility/Tool/FindReplace/CharacterRange.cs
pvfUtility/Tool/FindReplace/FindReplaceDialog.cs
pvfUtility/Tool/FindReplace/FindReplaceDialog.Designer.cs
pvfUtility/Tool/FindReplace/FindReplaceDialog.resx
pvfUtility/Tool/FindReplace/FindReplaceService.cs
pvfUtility/Tool/FindReplace/GoTo.cs
pvfUtility/Tool/FindReplace/GoToDialog.cs
pvfUtility/Tool/FindReplace/GoToDialog.Designer.cs
pvfUtility/Tool/FindReplace/GoToDialog.resx
pvfUtility/bin/Debug/Aga.Controls.dll
pvfUtility/bin/Debug/Aga.Controls.pdb
pvfUtility/bin/Debug/Be.Windows.Forms.HexBox.dll
pvfUtility/bin/Debug/Be.Windows.Forms.HexBox.pdb
pvfUtility/bin/Debug/Be.Windows.Forms.HexBox.xml
pvfUtility/bin/Debug/Bookmark.xml
pvfUtility/bin/Debug/DockPanel2020.2.7.0.bin
pvfUtility/bin/Debug/license.txt
pvfUtility/bin/Debug/Microsoft.WindowsAPICodePack.dll
pvfUtility/bin/Debug/Microsoft.WindowsAPICodePack.pdb
pvfUtility/bin/Debug/Microsoft.WindowsAPICodePack.xml
pvfUtility/bin/Debug/pvfUtility.exe
pvfUtility/bin/Debug/pvfUtility.exe.config
pvfUtility/bin/Debug/pvfUtility.pdb
pvfUtility/bin/Debug/ScintillaNET.dll
pvfUtility/bin/Debug/ScintillaNET.pdb
pvfUtility/bin/Debug/ScintillaNET.xml
pvfUtility/bin/Debug/Setting.bin
pvfUtility/bin/Debug/SevenZipSharp.dll
pvfUtility/bin/Debug/SevenZipSharp.pdb
pvfUtility/bin/Debug/SevenZipSharp.xml
pvfUtility/bin/Debug/WeifenLuo.WinFormsUI.Docking.dll
pvfUtility/bin/Debug/WeifenLuo.WinFormsUI.Docking.pdb
pvfUtility/bin/Debug/WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll
pvfUtility/bin/Debug/WeifenLuo.WinFormsUI.Docking.ThemeVS2015.pdb
pvfUtility/bin/Debug/log/25-08-20.log
pvfUtility/bin/Debug/log/25-09-08.log
pvfUtility/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
pvfUtility/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
pvfUtility/obj/Debug/DesignTimeResolveAssemblyReferences.cache
pvfUtility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
pvfUtility/obj/Debug/pvfUtility.Actions.Batch.BatchTaskDialog.resources
pvfUtility/obj/Debug/pvfUtility.Actions.DetailInfoDialog.resources
pvfUtility/obj/Debug/pvfUtility.Actions.DialogBase.resources
pvfUtility/obj/Debug/pvfUtility.csproj.AssemblyReference.cache
pvfUtility/obj/Debug/pvfUtility.csproj.CoreCompileInputs.cache
pvfUtility/obj/Debug/pvfUtility.csproj.FileListAbsolute.txt
pvfUtility/obj/Debug/pvfUtility.csproj.GenerateResource.cache
pvfUtility/obj/Debug/pvfUtility.csproj.Up2Date
pvfUtility/obj/Debug/pvfUtility.csprojAssemblyReference.cache
pvfUtility/obj/Debug/pvfUtility.Dialog.WelcomeDialog.resources
pvfUtility/obj/Debug/pvfUtility.Dock.FileExplorer.Bookmark.BookmarkTreeView.resources
pvfUtility/obj/Debug/pvfUtility.Document.HexEditor.HexEditorFrom.resources
pvfUtility/obj/Debug/pvfUtility.Document.TextEditor.FindReplace.FindReplaceDialog.resources
pvfUtility/obj/Debug/pvfUtility.exe
pvfUtility/obj/Debug/pvfUtility.FileExplorer.Bookmark.BookmarkManager.resources
pvfUtility/obj/Debug/pvfUtility.FileExplorer.Bookmark.NewBookmarkDialog.resources
pvfUtility/obj/Debug/pvfUtility.MainForm.resources
pvfUtility/obj/Debug/pvfUtility.Model.PvfOperation.FileProperties.resources
pvfUtility/obj/Debug/pvfUtility.Model.PvfOperation.PvfHeaderEditorDialog.resources
pvfUtility/obj/Debug/pvfUtility.pdb
pvfUtility/obj/Debug/pvfUtility.Properties.lang.resources
pvfUtility/obj/Debug/pvfUtility.Properties.Resources.resources
pvfUtility/obj/Debug/pvfUtility.Shell.About.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Dialogs.ExtractDialog.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Dialogs.FileExistDialog.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Dialogs.GoToFileDialog.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Dialogs.ImportDialog.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Dialogs.InputBox.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Dialogs.Search.SearchDialog.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Dialogs.SelectFolderDialog.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Docks.CollectionExplorerDock.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Docks.FileExplorerDock.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Document.DummyPackComparer.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Document.StartPage.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Document.TextEditor.GoTo.GoToDialog.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Document.TextEditor.TextEditorView.resources
pvfUtility/obj/Debug/pvfUtility.Shell.ErrorListDockView.resources
pvfUtility/obj/Debug/pvfUtility.Shell.OptionForm.resources
pvfUtility/obj/Debug/pvfUtility.Shell.OutputDockView.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Tools.CodeSearcher.resources
pvfUtility/obj/Debug/pvfUtility.Shell.Tools.NameSearcher.resources
pvfUtility/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
pvfUtility/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
pvfUtility/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
pvfUtility/obj/Debug/TempPE/Properties.lang1.Designer.cs.dll
pvfUtility/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
